h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: green;
    color: yellow;
}

.btn-info:hover {
    background-color: orange;
    color: red;
}

canvas {
    animation-name: ColorAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes ColorAnimation {
    from {
        box-shadow: 1px 1px 38px blue;
    }
    to {
        box-shadow: 1px 1px 38px purple;
    }
}

body {
    background-image: "Background Image.gif";
}